/*:root {
  --sl-content-width: 50rem;
  --sl-text-5xl: 3.5rem;
}*/

iframe {
  height: 500px !important;
  width: 800px !important;
  border: 1px solid #ccc;
  display: block;
  margin-top: 1em;
  background: #fff;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.08);
  border-radius: 8px;
}
/*
.hero-html {
  --size: 12rem;

  font-size: var(--size);
  justify-content: center;
  line-height: var(--size);
}*/
